<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestiuneangajati">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SetariProfilManager"></activity>
        <activity android:name=".Progres" />
        <activity android:name=".Agenda" />
        <activity android:name=".Angajati" />
        <activity android:name=".SetariProfilAngajat" />
        <activity android:name=".ActivitatiAngajat" />
        <activity android:name=".ProfilManager" />
        <activity android:name=".ProfilAngajat" />
        <activity android:name=".Inregistrare" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>